@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* TEXT AND BG COLORS */
  --white: #fff;
  --light-white: #c4cfde;
  --black: #000;
  --dark-black: #0b0b13;
  --green: #2fbf71;
  --blue: #0a6986;
  --gray: #8a8a8a;

  /* FONT FAMILIES */
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  /* TRANSITION */
  --transition: all 0.4s ease-in;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  font-family: var(--secondary-font);
}

.text-gray {
  color: var(--gray);
}

.text-green {
  color: var(--green);
}

.text-blue {
  color: var(--blue);
}

.font-primary {
  font-family: var(--primary-font) !important;
}

.font-secondary {
  font-family: var(--secondary-font) !important;
}

/* CUSTOM SCROLLBAR */
body::-webkit-scrollbar {
  width: 0.7rem;
  border-radius: 50%;
}

body::-webkit-scrollbar-thumb {
  border: 0.15rem solid var(--white);
  border-radius: 1rem;
  background: var(--green);
  transition: var(--transition);
}

body::-webkit-scrollbar-thumb:hover {
  background: #3fab7a;
}

body::-webkit-scrollbar-track {
  background-color: var(--white);
}

h1 {
  font-size: 4.5rem !important;
  font-weight: 700 !important;
  color: var(--black);
  font-family: var(--secondary-font);
}

h2 {
  font-size: 3rem !important;
  font-weight: 600 !important;
  color: var(--dark-black);
  font-family: var(--secondary-font);
}

h3 {
  font-size: 2.2rem !important;
}

h4 {
  font-size: 2rem !important;
  color: var(--black);
  font-weight: 700;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--gray);
  font-family: var(--secondary-font);
}

.padding-block {
  padding-block: 9rem;
}

/* CUSTOM CSS */
.btn-primary {
  padding: 1rem 2rem !important;
  font-size: 1.4rem !important;
  border-radius: 0px !important;
  color: var(--white) !important;
  background-color: var(--green) !important;
  font-weight: 600 !important;
  text-transform: capitalize;
  border: 0.1rem solid transparent !important;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

/* TOP SCROLL BUTTON SECTION */
.top-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: var(--dark-black);
  z-index: 1000;
  box-shadow: 0 0.2rem 0.4rem rgba(85, 230, 165, 0.5);
  cursor: pointer;
  opacity: 0;
  z-index: 1000;
  transition: var(--transition);
}

.top-btn:hover,
.top-btn:focus {
  box-shadow: 0 0.2rem 1.5rem rgba(85, 230, 165, 0.5);
  color: var(--white);
  background-color: var(--green);
}

.top-icon {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
}

.top-icon::before {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  transition: var(--transition);
}

.top-icon:hover::before {
  background-color: var(--green);
}

.icon-animate {
  animation: topBtn 0.5s linear;
  opacity: 1;
}

@keyframes topBtn {
  0% {
    transform: translateY(10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.icon-animation {
  animation: iconAnimation 1.5s infinite alternate-reverse;
  display: block;
}

@keyframes iconAnimation {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

/* ------------------------------- NAVBAR SECTION ---------------------------------- */
.navbar {
  background-color: var(--white) !important;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 0.2rem solid var(--green);
}

.animate {
  animation: navAnimation 0.5s linear;
}

@keyframes navAnimation {
  0% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.navbar-brand img {
  width: 100px;
  height: 50px;
  object-fit: cover;
}

.nav-item {
  margin-right: 1.5rem;
}

.nav-item .nav-link {
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--primary-font);
  color: var(--dark-black);
  position: relative;
  transition: var(--transition);
}

.nav-item .nav-link.active {
  color: var(--green) !important;
}

.nav-item .nav-link:hover,
.nav-item .nav-link:focus {
  color: var(--green);
}

.nav-item .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: var(--green);
  opacity: 0;
  transition: var(--transition);
}

.nav-item .nav-link:hover::before,
.nav-item .nav-link:focus::before {
  opacity: 1;
}

.dropdown-menu {
  min-width: 15rem !important;
  border-bottom: 0.2rem solid var(--green) !important;
  border-radius: 0.5rem 0.5rem 1rem 1rem !important;
  overflow-x: hidden;
}

.dropdown-menu[data-bs-popper] {
  top: 120% !important;
  padding-block: 0px !important;
}

.dropdown-item {
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 600;
  font-family: var(--primary-font);
  color: var(--dark-black);
  padding-block: 0.4rem !important;
  cursor: pointer;
  transition: var(--transition);
}

/* ------------------------------- HERO SECTION ---------------------------------- */
.hero_section {
  width: 100%;
  padding-top: 15rem;
  padding-bottom: 4rem;
  background: url("/image/hero-bg.svg");
}

.hero_content p {
  font-size: 1.6rem;
  color: var(--black);
  font-family: var(--primary-font);
  font-weight: 500 !important;
}

.hero_content .content {
  font-family: var(--primary-font);
  color: var(--dark-black);
  text-align: justify;
  text-align-last: left;
}

.hero_img {
  z-index: 1;
}

.hero_img::before {
  content: "";
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0.5rem solid var(--green);
  z-index: -1;
}

/* ------------------------------- PLAN AND REVIEW SECTION ---------------------------------- */

.plan_header p {
  font-size: 1.5rem;
  font-weight: 400;
}

.filter_btn {
  margin-top: 3rem !important;
  width: 30%;
  height: 4.5rem;
  margin-inline: auto;
  border-radius: 5rem;
  border: 0.2rem solid var(--light-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter_btn button {
  width: 47%;
  height: 3.5rem;
  border-radius: 5rem;
  border: none;
  font-weight: 600 !important;
  font-size: 1.4rem;
  transition: var(--transition);
}

.filter_btn button.active {
  color: var(--white);
  background-color: var(--green);
}

.plan_img {
  padding-block: 1rem;
  border-bottom: 0.1px solid var(--light-white);
}

.plan_img p {
  font-size: 1.8rem !important  ;
  color: var(--blue) !important;
}

.country_badge {
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  border: 0.1rem solid var(--light-white);
  font-weight: 700;
  color: var(--blue);
  font-family: var(--secondary-font);
  font-size: 1.2rem;
}

.plan_content ul li {
  border-bottom: 0.1px solid var(--light-white);
}

.plan_btn {
  display: block;
  width: 100%;
  padding-block: 1rem;
  text-align: center;
  border: 0.15rem solid var(--green);
  color: var(--green);
  border-radius: 0.6rem;
  background-color: transparent;
  font-size: 1.4rem;
  font-family: var(--secondary-font);
  font-weight: 700;
  transition: var(--transition);
}

.plan_btn:hover,
.plan_btn:focus {
  color: var(--white);
  background-color: var(--green);
}

.review_header {
  padding-bottom: 4rem !important;
}

.review-img img {
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
}

.review_star i {
  color: rgb(253, 204, 13);
}

.swiper {
  padding-bottom: 3rem !important;
}

.swiper-pagination-bullet {
  width: 0.8rem !important;
  height: 0.8rem !important;
  border-radius: 0px !important;
  transform: rotate(45deg);
}

.swiper-pagination-bullet-active {
  background-color: var(--green) !important;
}

/* ------------------------------- REFUND SECTION ---------------------------------- */
.refund_section {
  border-radius: 2rem;
  background-color: #66b9524c;
  padding-block: 5rem;
}

.refund_img img {
  width: 200px !important;
  display: block;
  margin-inline: auto;
}

.refund_content p {
  max-width: 500px;
  margin-inline: auto;
}

.refund_content button {
  width: 200px;
  height: 40px;
  border-radius: 1rem;
  background-color: var(--dark-black);
  color: var(--white);
  font-weight: 700;
  font-size: 1.4rem;
  font-family: var(--secondary-font);
  border: none;
  transition: var(--transition);
}

.refund_content button:hover,
.refund_content button:focus {
  transform: scale(1.04);
}

/* ------------------------------- ABOUT PAGE START  ---------------------------------- */
.about_header {
  margin-top: 5rem;
  width: 100%;
  height: 50vh;
  background: url(/image/about-bg.jpg) no-repeat center;
  background-size: cover;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.page_header_link {
  color: var(--white) !important;
  text-decoration: none !important;
}

/* ------------------------------- FAQ PAGE ---------------------------------- */
.faq_header {
  margin-top: 10rem;
  width: 100%;
  padding-bottom: 8rem;
}

.faq_img img {
  max-width: 350px;
  height: auto;
  object-fit: cover;
}

.faq_question_img img {
  width: 90%;
  height: auto;
}

.faq_search_bar {
  width: 100%;
  height: 4rem;
  border-radius: 2rem;
  border: 0.1rem solid var(--light-white);
}

.faq_search_bar:focus {
  border-color: var(--green);
}

.faq_search_bar .form-control {
  border: none;
  height: auto;
  font-size: 1.4rem;
  padding-left: 1rem;
  border-radius: 2rem;
  border: none;
  transition: var(--transition);
}

.faq_search_bar .form-control:focus {
  outline: none;
  box-shadow: none;
}

.faq_search_bar button {
  width: 3.5em;
  height: 3.2rem;
  border: none;
  font-size: 1.4rem;
  border-radius: 2rem;
  color: var(--white);
  background-color: var(--green);
  transition: var(--transition);
}

.faq_search_bar button:hover ,
.faq_search_bar button:focus {
  background-color: var(--blue);
}

.accordion-button {
  padding-block: 1.5rem !important;
  font-size: 1.5rem !important;
  border-bottom: 0.1rem solid var(--light-white) !important;

}

.accordion-button:focus  {
  outline: none !important;
  box-shadow: none !important;
  border-color: var(--green) !important;
}

.accordion-button:not(.collapsed) {
  background-color: var(--green) !important;
  color: var(--white) !important;
  border-color: var(--green);
}


.accordion-body {
  font-size: 1.5rem !important; 
  color: var(--gray);
  text-align: justify;
  text-align-last: left;
}

/* ------------------------------- CONTACT PAGE SECTION ---------------------------------- */
.contact_section {
  margin-top: 10rem;
}

.address i {
  font-size: 2.5rem;
  color: var(--green);
}

.link {
  font-size: 1.4rem;
  color: var(--gray);
  transition: var(--transition);
}

.link:hover ,
.link:focus {
  color : var(--green);
}

.contact_form .form-control {
  border: 0.1rem solid var(--light-white);
  transition: var(--transition);
  font-size: 1.4rem;
}

.contact_form .form-control:focus {
  border-color: var(--green);
}

.submit-btn {
  width : 12rem;
  height: 4rem;
  border: none;
  font-weight: 700;
  font-size: 1.4rem;
  border-radius: 3rem;
  color: var(--white);
  background-color: var(--green);
  transition: var(--transition);
}

.submit-btn:hover ,
.submit-btn:focus {
  transform: scale(1.04);
  background-color: var(--blue);
}

/* ------------------------------- TEAM PAGE SECTION ---------------------------------- */



/* ------------------------------- FOOTER SECTION ---------------------------------- */
footer {
  margin-top: 8rem;
}

.footer_content p {
  text-align: justify;
  text-align-last: left;
  font-size: 1.5rem;
  color: var(--gray);
}

.footer_link li a {
  display: inline-block;
  margin-bottom: 0.6rem;
  padding: 0.2rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--gray);
  text-transform: capitalize;
  position: relative;
  transition: var(--transition);
}

.footer_link li a:hover,
.footer_link li a:focus {
  color: var(--green);
}

.footer_link li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.15rem;
  border-radius: 2rem;
  background-color: var(--green);
  transition: var(--transition);
}

.footer_link li a:hover::before,
.footer_link li a:focus::before {
  width: 100%;
}

.footer_icon i {
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  border-radius: 50%;
  color: var(--gray);
  border: 0.1rem solid var(--gray);
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: var(--transition);
}

.footer_icon i::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--green);
  z-index: -1;
  transform: scale(0);
  transition: var(--transition);
}

.footer_icon i:hover,
.footer_icon i:focus {
  border-color: var(--green);
  color: var(--white);
}

.footer_icon i:hover::after,
.footer_icon i:focus::after {
  transform: scale(1);
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}
.subscribe_input .form-control {
  width: 100%;
  height: 4.2rem;
  border-radius: 0px;
  font-size: 1.4rem;
  border: 0.1rem solid var(--gray);
  transition: var(--transition);
}

.subscribe_input .form-control:focus {
  border-color: var(--green);
}

.subfooter p {
  font-size: 1.4rem;
}
